@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #2f4ccf;
}

body {
  color: #f8fafc;
  font-size: large;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  padding-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroesbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
p,
span {
  font-family: "Tilt Prism", cursive;
}
span {
  color: #fecdd3;
}

h1,
h2 {
  font-family: "Tilt Prism", cursive;
}
